<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../media/favicon.ico">
    <title>CSTD DATA SYSTEM</title>
    <link href="../css/bulma.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rakkas">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <script src="../zingchart.min.js"></script>
    <style>
            .front {
              
              background-image: url("../media/cstd_tr.png");
              
            }
          </style>
</head>

<body class="front">
        <%- include('top'); -%>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline is-centered">
                <div class="column is-12 is-centered">
                    <% if(status.length > 0){ %>
                        <div class="notification is-danger">
                                <button class="delete"></button>
                                <strong><%= status %></strong>
                        </div>
                    <% } %>    
                </div>
                <div class="column is-3 is-centered">
                    <p class="subtitle is-danger" >Leave Details</p>
                    <hr class="is-info">
                    
                    <p class="subtitle"><strong>Title: </strong><%= leave.title %></p>
                    <p class="subtitle"><strong>Type: </strong><%= leave.leave_type %></p>
                    <p class="subtitle"><strong>Start Date: </strong><%= moment(leave.leave_start_date).format('LL') %></p>
                    <p class="subtitle"><strong>End Date: </strong><%=  moment(leave.leave_end_date).format('LL') %></p>
                    <hr class="is-info">               
                               
                </div>
                <div class="column is-5 is-medium is-centered">
                        <p class="subtitle"> Edit Leave Data</p>
                        <hr class="is-info">
                        <div class="content">
                                <form action="/api/edit-leave" method="POST">
    
                                 
                                <input class="input is-info is-rounded" value="<%= leave.PF %>" type="text" disabled name="staffpf" required>
                                

                                <input disabled value="<%= leave.createdby %>" class="input is-info is-rounded" type="hidden" name="adminpf" required>
                                <input disabled value="<%= leave._id %>" class="input is-info is-rounded" type="text" name="ID" required>
                                
    
                                    <div class="field">
                                        <label class="label">Select Leave Type</label>
                                        <div class="control">
                                          <div class="select is-info is-rounded is-hovered">
                                            <select name="leave_type" required value="<%= leave.leave_type %>">
                                                <option value="">Select Leave type</option>
                                                <option value="casual">Casual</option>
                                                <option value="main">Main</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
    
                                      <div class="field">
                                          <label class="label">Leave Start Date</label>
                                          <div class="control">
                                            <input value="<%= leave.leave_start_date %>" required class="input is-info is-rounded" type="date" name="startdate" placeholder="Enter Leave Start date">
                                          </div>
                                        </div>
    
                                        <div class="field">
                                            <label class="label">Leave End Date</label>
                                            <div class="control">
                                              <input value="<%= leave.leave_end_date %>" required class="input is-info is-rounded" type="date" name="enddate" placeholder="Enter Leave End date">
                                            </div>
                                          </div>
    
                                          <% if (admin.role == '1' || admin.role == '3' || admin.role == '5') { %>                               
                                    <button class="button is-danger is-outlined" type="submit">Update</button><br><br>
                                    <% } %>
                                    
                                    </form>
                        </div>
                        <hr>
                </div>

                <div class="column is-4 is-medium is-centered">
                        <div class="content">
                                <p class="subtitle">Upload Leave Documents</p>
                                <hr class="is-info">

                                <form action="/api/upload-file" method="POST" class="form" encType="multipart/form-data">
                                    <input class="input is-info is-rounded" value="<%= leave.PF %>" type="hidden" name="staffpf" required> 
                                    <input class="input is-info is-rounded" value="<%= leave._id %>" type="hidden" name="LID" required>                               

                                <input value="<%= leave.createdby %>" class="input is-info is-rounded" type="hidden" name="adminpf" required>

                                    <div class="field">
                                            <label class="label">Document title</label>
                                            <div class="control">
                                              <input class="input is-info is-rounded" type="text" name="title" placeholder="Enter document title">
                                            </div>
                                    </div>

                                    <div class="field">
                                            <label class="label">Short Note</label>
                                            <div class="control">
                                              <textarea name="note" class="textarea is-info is-rounded" placeholder="short note about this document"></textarea>
                                            </div>
                                    </div>
     
                                              
                                              <div class="field">
                                                    <p class="help is-danger">
                                                            Documents in PDF format (ex. letter.pdf) is recommended
                                                       </p>
                                                    <div class="file is-link has-name is-boxed">
                                                      <label class="file-label">
                                                        <input class="file-input" type="file" name="mediafile" id="mediafile">
                                                        <span class="file-cta">
                                                          <span class="file-icon">
                                                            <i class="fas fa-cloud-upload-alt"></i>
                                                          </span>
                                                          <span class="file-label">
                                                            Choose file
                                                          </span>
                                                        </span>
                                                        <span class="file-name" id="filename">
                                                          .........
                                                        </span>
                                                      </label>
                                                      
                                                    </div>
                                                  </div>

                                       <% if (admin.role == '1' || admin.role == '3' || admin.role == '5') { %>             
                                      <div class="field is-grouped">
                                            <div class="control">
                                              <button type="submit" class="button is-danger is-outlined">Upload</button>
                                            </div>
                                            <div class="control">
                                              <button type="reset" class="button is-danger is-outlined">Cancel</button>
                                            </div>
                                          </div>
                                          <% } %>
                                                                  
                                    
                                    
                                    </form>
                        </div>
                        <hr class="is-info">
                </div>

                <div class="column is-centered is-12">
                    <hr>
                </div>

                <div class="column is-centered is-12">
                    <p class="subtitle">This Leave Documents</p>
                        <hr>

                        <table class="table is-centered is-striped is-narrow">
                                <thead>
                                    <tr>
                                        <td>Title</td>
                                        <td>Uploaded</td>
                                                                             
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i = 0; i < docs.length; i++) { %>
                                    <tr>
                                        <td><%= docs[i].title %></td>
                                        <td><%= moment(docs[i].created_date).format('LL') %></td>
                                        
                                        <td><a class="is-link button" href="/api/<%= docs[i].link %>">Details</a></td>
                                        
                                    </tr>   
                                    <% } %> 
                                </tbody>
                            </table>
                </div>
                
            </div>
                                 
            
        </div>
    </section>

    <script>
            var file = document.getElementById("mediafile");
                file.onchange = function(){
                    if(file.files.length > 0)
                    {
    
                    document.getElementById('filename').innerHTML = file.files[0].name;
    
                    }
                };
        </script>

<%- include('bottom'); -%>
</body>
</html>